
 html {
    height: 100%;
    box-sizing: border-box;
  }

*,
*:before,
*:after {
  box-sizing: inherit;
}

body{
    background-image: url("../image/imagen_fondo.jpg");
    color: black;
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
}

#header{
    background-color: white;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: left;
    /* align-items: center; */
    flex-direction: column;
    align-items: flex-start;
}

#header.logo{
    align-self: stretch;
    margin-top: 10px;
}

#header.navbar{
    align-self: stretch;
    /* padding-left: 10px; */
}

#contenido{
    color: black;
}

h5{
    color: black;
}

#page-container{
    padding-bottom: 32px;
}

footer{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #efefef;
    text-align: center;
}